@media screen and (max-width: 600px) {
  img{
    float: none;
  }
}

body{
  border-left: inset 1px rgb(99, 233, 233);
  padding: 1%;
  margin: 1%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

hr{
  background-color: rgb(99, 233, 233);
}

hr.col-5{
  margin: 0;
  padding: 0;
  float: left;
}

h1{
  font-style: italic;
}

.col{
  background-color: black;
}

.row{
  margin: 3%;
  padding-left: 5%;
}

.panel{
  background-color: #0066cc;
  color: aliceblue;
  padding: 1%;
  margin: 2%;
}

.btn{
  background-color: rgb(99, 233, 233);
  width: 100px;
  height: 50px;
  margin: 0 auto;
}

.container-language{
  text-align: center;
}

#language-prefix{
  display: none;
}

#ruby{
  display: inline-block;
  display: none;
}

#js{
  display: inline-block;
  display: none;
}

#python{
  display: inline-block;
  display: none;
}

.panel-description{
  display: inline-block;
  width: 70%;
}

img{
  float: left;
  height: 200px;
  width: 200px;
}